{% extends 'base.html' %}


{% block body %}
<header>
    <div class="container mt-3">
        <h1>A Denominação</h1>
        <br>
        <h2>QUEM SOMOS</h2>
        <hr class="mt-0" style="color: #01579B">
        <p>A Igreja Adventista da Promessa nasceu em 24 de janeiro de 1932, na pequena cidade de Paulista (PE).
            Foi ali que nosso pioneiro, pr. João Augusto da Silveira, recebeu o batismo no Espírito Santo, o que mudou definitivamente sua vida.</p>
    </div>

</header>

{% endblock %}