{% extends 'base.html' %}


{% block body %}
  <div class="container mt-3">
    <h1>Últimas Atualizações</h1>
    <hr class="mt-0" style="color: #01579B">
    {% for post in posts %}
    <div class="row mt-4 p-3">
        <div class="col-md-9" style="text-align: justify">
            <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
            <p>{{ post.corpo |safe }}</p>
        </div>
        <div class="col-md-3">
            <img src="{{ url_for('static', filename='profile_pictures/{}'.format(post.autor.foto_perfil))}}"
                    class="rounded" width="40">
            <strong>{{ post.autor.username }}</strong>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
